@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700;1,900&family=Viaoda+Libre&display=swap");
body {
  background: #3C6E71;
  padding: 3em;
  font-family: 'Viaoda Libre', Verdana, sans-serif;
  color: whitesmoke;
}

ul {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 30px;
}

ul li a {
  font-size: 1.5em;
}

a {
  color: whitesmoke;
  text-decoration: none;
}
