<div class="container color-dark">
    <div class="col">
        <p>Dodaj zadanie</p>
    </div>
    <div class="col">
        <p>Twoje zadania ({{ itemCount }})</p>
    </div>
</div>

<div class="container color-light">
    <div class="col">
        <p class="sm">Użyj tego formularza, żeby dodać zadanie. Co chcesz zrobić?</p>
        <form>
            <input type="text" class="txt" name="item" placeholder="Twoje zadanie" [(ngModel)]="goalText">
            <input type="submit" class="btn" [disabled]="goalText === ''" [value]="btnText" (click)="addItem()">
        </form>
    </div>
    <div class="col">
        <p class="p-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
            {{ goal }}
        </p>
    </div>
</div>