.container {
  display: grid;
  grid-template-columns: 50% auto;
}

.col {
  padding: .4em 1.3em;
}

.color-dark {
  background: #472D30;
}

.color-light {
  background: #723D46;
}

input.txt {
  border: 0;
  padding: 1em;
  width: 80%;
  margin-bottom: 2em;
  border-radius: 8px;
}

input.btn {
  border: 0;
  display: block;
  padding: 1em 3em;
  background-color: #66A182;
  border-radius: 8px;
  color: #000000;
  margin-bottom: 1em;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-container {
  background: #F2E9E4;
  border-radius: 8px;
  padding: .5em;
  font-weight: bold;
  cursor: pointer;
  color: black;
}
